<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= title %></title>
	<%- include ('partials/head.html')%>

</head>

<body>
	<%- include ('partials/navigation.html')%>

	<div class="container">
		<header class="row">
			<div class="col-lg-12 text-center">
				<img src="/img/pews-logo.png" class="animated bounceIn" alt="Pews Logo">
            </div>
		</header>
	</div>

	<!--SECTION ONE-->
	<div class="container-fluid" id="about">
		<div class="row bg-dark text-white p-5 text-center">
			<div class="col-sm-6">
				<i class="fab fa-youtube fa-10x"></i>
			</div>
			<div class="col-sm-6">
				<h3>The most suscribed Youtuber</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Officiis ad dicta libero ratione adipisci
                quas nemo eos ducimus fuga velit nostrum tempora,
                reiciendis maxime optio sint explicabo corrupti
					labore iste?</p>
			</div>
		</div>
	</div>

    <%- include ('partials/footer.html')%>

    <!--SCRIPTS-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>

</body>

</html>